<footer class="footer">
    <div class="vide">

    </div>
    <div class="logo"><img src="{{ asset('assets/img/Gulf_logo.png') }}" alt="" class="resp"></div>
    <div class="socialNetwork">
        <span class="icon" style="font-size: 2em; color: #3b5998;"><i class="fab fa-facebook-square"></i></span>
        <span class="icon" style="font-size: 2em; color: #00acee;"><i class="fab fa-twitter"></i></span>
        <span class="icon" style="font-size: 2em; color: #C13584;"><i class="fab fa-instagram"></i></span>
    </div>

</footer>
</body>
</html>