{#La balise extends me permet d'étendre un modèle à partir d'un autre.#}
{% extends "base.html.twig" %}
{#j indique le titre qui va etre placer dans la balise title#}
{% block title %}HomePageArticles{% endblock %}
{#j'indique le contenue qui va etre placer dans le block main#}
{% block main %}
    <main>
        <div class="homepicture">
            <img src="{{ asset('assets/img/chateau_Neuschwanstein.jpg') }}" alt="" class="resp">
        </div>
        <div class="titrehome">
            <h1>Les Articles</h1>
        </div>
        <div class="lesArticles">
            {% for element in articles|slice(-3) %}
            <div class="card-group">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ element.image }}" alt="" class="resp">
                    </div>
                    <div class="card-desc">
                        <h1>{{ element.title }}<h1>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
