//je viens charcher le header qui se trouve dans le dossier Base et l inject en haut a l aide de \{% \include \'nomdufichier\' \%}
{% include 'Base/_header.html.twig' %}
    <main>
        <div class="lesArticles">
            {# je rajoute a ma boucle for une valeur a key -> id #}
            {% for id, element in articles %}
                        <div class="card">
                            <div class="card-image">
                                <img src="{{ element.image }}" alt="" class="resp">
                            </div>
                            <div class="card-desc">
                                <h1>{{ element.title }}<h1>
                            </div>
                            {#  j'ajoute comme second paramettre de ma methode path . et lui renseigne la key->id a mon url  'id'->wildcard  #}
                            <a target="_blank" href="{{ path('article_page', {'id': id }) }}">Voir</a>
                        </div>
            {% endfor %}
        </div>
    </main>
{% include 'Base/_footer.html.twig' %}
