{#La balise extends me permet d'étendre un modèle à partir d'un autre.#}
{% extends "base.html.twig" %}
{#j indique le titre qui va etre placer dans la balise title#}
{% block titlePage %}Produit{{ produit.title  }}{% endblock %}
{#j'indique le contenue qui va etre placer dans le block main#}
{% block main %}
    <main>
        <div class="container">
            <div class="article">
                <div class="titre">
                    <h1>{{ produit.title }}</h1>
                </div>
                <div class="imgarticle">
                    <img src="{{ produit.image }}" alt="" class="resp">
                </div>
                <div class="content">
                    <span class="textArticle">{{ produit.content }}</span>
                </div>
            </div>

        </div>
    </main>
{% endblock %}