{% extends  "Base/baseTest.html.twig" %}

{% block content%}
    <div class="container">
        <div class="article">
            <div class="imgarticle">
                <img src="https://www.w3schools.com/w3css/img_lights.jpg" alt="image" class="resp">
            </div>
        </div>
    </div>

{% endblock %}